@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Condensed:wght@500&display=swap');

:root {
    --main-color: rgb(0, 132, 255);
}

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*start of header*/

header {
    background-color: #ffffff;
    box-shadow:  5px 0 25px rgba(1, 1, 1, 15%);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8em;
}

.navigation a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: blueviolet;
}

/*end of header*/

/*start of main*/
section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../images/back1.jpeg);
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main h2 {
    color: #000;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: var(--main-color);
    font-size: 3em;
    font-weight: bold;
}

.main h3 {
    color: #000;
    font-size: 2em;
    font-family: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: var(--main-color);
    text-decoration: none;
    font-size: 1.1;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: blueviolet;
    transform: scale(1.1);
}

.social-icons a {
    color: #000;
    font-size: 1.7em;
    padding-right: 30px;
}

.social-icons a:hover {
    color: var(--main-color);
    transform: scale(1.1);
}

/*end of main*/

/*start of services*/
.title {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 50px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: var(--main-color);
    font-size: 7em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/*end of services*/

/*start of projects*/
.projects {
    background-color: #000016;
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: var(--main-color);
}

.more-details:hover {
    color: blueviolet;
}
/*end of projects*/

/*start of contact*/
.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}
/*End of contact*/

/*Start of footer*/
.footer {
    background-color: #000016;
    color: #fff;
    padding: 1.5em;
}

.footer-title {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.footer-title span {
    color: var(--main-color);
}

/*End of footer*/

/*responsive*/
@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main h3 {
        font-size: 1.6em;
    }

    .main h2 {
        font-size: 1em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px) {
    body{
        font-size: 12px;
    }

    .main h2 {
        font-size: 0.8em;
    }

    .main h3 {
        font-size: 1.4em;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;
    }
}